<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALPoce7roTdy6Oa46VtzqfuWl7MCtk5_I</string>
	<key>GCM_SENDER_ID</key>
	<string>864062841722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.youz2me.livith</string>
	<key>PROJECT_ID</key>
	<string>livith-5327b</string>
	<key>STORAGE_BUCKET</key>
	<string>livith-5327b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864062841722:ios:bd06e5afffdfd563692cc3</string>
</dict>
</plist>